node_modules
.env
.vscode/
node_modules/.package-lock.json
node_modules/.package-lock.json
node_modules/ansi-styles/index.d.ts
node_modules/ansi-styles/index.d.ts
node_modules/ansi-styles/index.js
node_modules/ansi-styles/license
node_modules/ansi-styles/package.json
